@charset "UTF-8";
/*Mixin*/
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#figura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nuestros-servicios .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-color: rgb(32, 33, 33);
}
header .nav-link {
  color: rgb(233, 217, 233);
}

/*MOBILE*/
footer {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/*DESKTOP*/
@media (min-width: 720px) {
  .container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
}
/*MOBILE*/
#hero {
  text-align: center;
  height: 60vh;
  color: whitesmoke;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/wallpaperbetter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*DESKTOP*/
@media (min-width: 720px) {
  #hero {
    text-align: center;
    height: 110vh;
    color: whitesmoke;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/wallpaperbetter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  h1 {
    font-size: 4em;
    padding: 12px, 12px;
  }
}
/*COLORS*/ /*MOBILE*/
#nosotros .container {
  background-color: rgb(30, 30, 30);
  text-align: center;
  font-size: 1.5em;
  padding: 200px 20px;
  margin: 30px, 30px;
  color: rgb(245, 245, 245);
}

/*DESKTOP*/
@media (min-width: 720px) {
  #nosotros {
    display: flex;
    justify-content: space-evenly;
  }
  #nosotros .container {
    max-width: 1600px;
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding: 200px 12px;
    color: rgb(245, 245, 245);
  }
}
/*MOBILE*/
button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(134, 33, 92);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

/*MOBILE*/
#nuestros-servicios {
  background-color: rgb(30, 30, 30);
  text-align: center;
  color: rgb(28, 26, 26);
}
#nuestros-servicios .container-fluid {
  padding: 100px 12px;
  background-color: rgb(125, 148, 140);
  font-style: italic;
}
#nuestros-servicios h2 {
  margin-top: 0;
  font-size: 2em;
}

#nuestros-servicios p {
  display: none;
}

#nuestros-servicios .carta {
  background-size: cover;
  background-position: center center;
  padding: 110px;
  margin: 20px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(0deg, rgba(212, 189, 189, 0.5), rgba(213, 201, 201, 0.5)), url("../img/galeria5.jpg");
}

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(212, 189, 189, 0.5), rgba(213, 201, 201, 0.5)), url("../img/galeria4.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(212, 189, 189, 0.5), rgba(213, 201, 201, 0.5)), url("../img/galeria9.jpg");
}

/*DESKTOP*/
@media (min-width: 720px) {
  #nuestros-servicios .container-fluid {
    padding: 100px 12px;
    background-color: rgb(125, 148, 140);
    font-style: italic;
  }
  #nuestros-servicios h2 {
    margin-top: 0;
    font-size: 2em;
  }
  #nuestros-servicios p {
    display: none;
  }
  #nuestros-servicios .carta {
    background-position: center center;
    padding: 110px;
    margin: 20px;
    border-radius: 15px;
  }
  .carta:first-child {
    max-width: 500px;
    background-image: linear-gradient(0deg, rgba(212, 189, 189, 0.5), rgba(213, 201, 201, 0.5)), url("../img/galeria5.jpg");
  }
  .carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(212, 189, 189, 0.5), rgba(213, 201, 201, 0.5)), url("../img/galeria4.jpg");
  }
  .carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(212, 189, 189, 0.5), rgba(213, 201, 201, 0.5)), url("../img/galeria9.jpg");
  }
}
/*MOBILE*/
#figura {
  text-align: center;
  height: 60vh;
  color: whitesmoke;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/uñasrojas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.gallery {
  display: flex;
  width: auto;
  height: 430px;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/*DESKTOP*/
@media (min-width: 720px) {
  #figura {
    text-align: center;
    height: 120vh;
    color: whitesmoke;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/uñasrojas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  #figura h2 {
    font-size: 4em;
    padding: 12px, 12px;
  }
}

/*# sourceMappingURL=style.css.map */
