/*MOBILE*/
.footer {
  background-color: rgba(83, 8, 8, 0.963);
  color: #fff;
  padding: 40px 0;
}

.footer h3 {
  color: azure;
}

.footer p {
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: azure;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .footer .row {
    flex-direction: column;
  }
  .footer .col-md-6 {
    width: 100%;
    margin-bottom: 30px;
  }
}

         
