/*MOBILE*/
footer {
            background-color: #f8f9fa;
            padding: 20px;
            display: flex;
            justify-content: center;
            }
        .row{
          flex-direction: row;
        }
         
        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
        }
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #45a049;
        }
  
  
        
    




        /*DESKTOP*/
@media(min-width: 720px){
        .container {
            max-width: 1700px;
            margin: 0 auto;
            padding: 20px;
        }
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #45a049;
        }
}