
.servicios-1{ font-family: 'DM Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tilt Neon';
  color: rgb(247, 240, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0b0b0b ;
 padding: 20px;
}

.container-fluid{padding: 25px;
  background-color:#f6bfe0 ;
}
.card-body{
  background-color: #f6bfe0 ;
  border: #f6bfe0;

}
.card-title{
  color: black;
  padding:15px ;
}
.card-text{
  color: black;
  padding: 15px;
  height: 180px;
}
.card{--bs-card-border-color:none!important;}