.nosotros-1{font-family: 'DM Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tilt Neon';
  color: rgb(247, 240, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0b0b0b ;
 padding: 20px;
}

.nosotros{
  background-color: #f6bfe0;
  padding: 60px ;
  color: whitesmoke;

}

.sobre-text {background-color: rgba(83, 8, 8, 0.963);
  margin-top: 0px;
  margin-left: 80px;
padding: 40px;
  height: 80vh;
  border-radius: 10px;
}

.sobre-text h2 {
  font-size: 36px;
  margin-bottom: 28px;
}

.sobre-text p {font-family: 'Catamaran', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}

.sobre-image img {
  width: 90%;
  height: 80vh;
display: inline-block;
  border-radius: 10px;

}

@media(max-width: 800px){
  .nosotros{background-color: rgb(48, 45, 45);
padding: 15px ;
  color: azure;
}

.sobre-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
padding-left: 0px;
}

.sobre-text h2 {
  font-size: 30px;
  margin-bottom: 20px;

}
.sobre-text p {
  font-size: 13px;
  line-height: 1.8;
}
.sobre-text {background-color: rgba(83, 8, 8, 0.963);
padding: 40px;
  border-radius: 5px;
  height: 70vh;
margin-left: 0px;
}

  }

