/*MOBILE*/
#nuestros-servicios {
  background-color: rgb(30, 30, 30);
  text-align: center;
  color: rgb(28, 26, 26);
 .container-fluid {
  padding: 100px 12px;
  background-color: $color-primario;
font-style: italic;}
h2 {
  margin-top: 0;
  font-size: 2em;
}}

#nuestros-servicios p {
  display: none;
}

#nuestros-servicios .carta {
  background-size: cover;
  background-position: center center;
  padding: 110px;
  margin: 20px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(212, 189, 189, 0.5),
      rgba(213, 201, 201, 0.5)
    ),
    url("../img/galeria5.jpg");
}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(212, 189, 189, 0.5),
      rgba(213, 201, 201, 0.5)
    ),
    url("../img/galeria4.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(212, 189, 189, 0.5),
      rgba(213, 201, 201, 0.5)
    ),
    url("../img/galeria9.jpg");

}




/*DESKTOP*/
 @media(min-width: 720px){
#nuestros-servicios .container-fluid {
padding: 100px 12px;
background-color:$color-primario;
font-style: italic;}

#nuestros-servicios h2 {
  margin-top: 0;
  font-size: 2em;}

#nuestros-servicios p {
  display: none;}

#nuestros-servicios .carta { 
  background-position: center center;
  padding: 110px;
  margin: 20px;
  border-radius: 15px;}

.carta:first-child {
  max-width: 500px;
  background-image: linear-gradient(
      0deg,
      rgba(212, 189, 189, 0.5),
      rgba(213, 201, 201, 0.5)
    ),
    url("../img/galeria5.jpg");}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(212, 189, 189, 0.5),
      rgba(213, 201, 201, 0.5)
    ),
    url("../img/galeria4.jpg");}

.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(212, 189, 189, 0.5),
      rgba(213, 201, 201, 0.5)
    ),
    url("../img/galeria9.jpg");}}